<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118609237811-thi0mbgcjkng75ska50chodjciap233j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118609237811-thi0mbgcjkng75ska50chodjciap233j</string>
	<key>API_KEY</key>
	<string>AIzaSyDdmSMXJu9iXdiMRnTlocDm-jf79_ZYYPA</string>
	<key>GCM_SENDER_ID</key>
	<string>118609237811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.international.foodziIos</string>
	<key>PROJECT_ID</key>
	<string>foodziappcw</string>
	<key>STORAGE_BUCKET</key>
	<string>foodziappcw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118609237811:ios:26753ae13363044735d046</string>
	<key>DATABASE_URL</key>
	<string>https://foodziappcw.firebaseio.com</string>
</dict>
</plist>